<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.estimote.examples.demos"
          android:versionCode="1"
          android:versionName="1.0">

  <!-- Declaration that this app is usable on phones with Bluetooth Low Energy. -->
  <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

  <application
      android:name=".AlfredosUserApplication"
      android:label="Alfredo's"
      android:icon="@mipmap/ic_launcher"
      android:theme="@android:style/Theme.Holo.Light.DarkActionBar">

    <activity
        android:name=".ViewMenuActivity"
        android:label="Alfredo's"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

      <activity
          android:name=".ViewCartActivity"
          android:label="Cart"
          android:screenOrientation="portrait">
      </activity>

      <activity
          android:name=".ViewCheckout"
          android:label="Checkout"
          android:screenOrientation="portrait">
      </activity>

      <!--
      There is no need any longer to declare BeaconService. It is declared in SDK's AndroidManifest.xml
      and it will be merged to your app's AndroidManifest.xml.

    <activity android:name="com.estimote.examples.demos.NotifyDemoActivity"
              android:label="Notify Demo"
              android:screenOrientation="portrait"/>

    <activity android:name="com.estimote.examples.demos.CharacteristicsDemoActivity"
              android:label="Characteristics Demo"
              android:screenOrientation="portrait"/>

      <activity android:name="com.estimote.examples.demos.UpdateDemoActivity"
                android:label="Update Firmware Demo"
                android:screenOrientation="portrait"/>
<!-
    There is no need any longer to declare BeaconService. It is declared in SDK's AndroidManifest.xml
    and it will be merged to your app's AndroidManifest.xml.

    <service android:name="com.estimote.sdk.service.BeaconService"
             android:exported="false"/>
-->
      <activity
          android:name=".RecognizeBeacon"
          android:label="@string/title_recognize_beacon" >
      </activity>
  </application>

</manifest>
